<div>
    <form id="addProductForm">
        <label>Name</label>
        <input type="text" name="name">

        <label>Description</label>
        <input type="text" name="description">
        
        <label>Imagen</label>
        <input type="text" name="thumbnail">

        <label>Precio</label>
        <input type="number" name="price">

        <label>Stock</label>
        <input type="number" name="stock">

        <input type="submit">
    </form>
    <br>
</div>
<script src="js/products.js"></script>