<link rel="stylesheet" href="css/forms.css">
<main>
    <h1>Agregar un producto nuevo</h1>
    <form id="addProductForm">
        <div>
            <label>Name</label>
            <input type="text" name="name">
        </div>

        <div>
            <label>Description</label>
            <input type="text" name="description">
        </div>

        <div>
            <label>Imagen</label>
            <input type="text" name="thumbnail">
        </div>

        <div>
            <label>Precio</label>
            <input type="number" name="price">
        </div>

        <div>
            <label>Stock</label>
            <input type="number" name="stock">
        </div>

        <input type="submit">
    </form>
    <br>
</main>
<script src="js/products.js"></script>