.header {
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: #666 0 0 15px;
}

.header a {
    color: #000;
}

.header__nav-ul {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.header__nav-ul-views {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header__nav-ul-session {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header__nav-ul-session li {
    border: none;
    border-radius: 1.5rem;
    background-color: #444;
    padding: .75rem;
}

.header__nav-ul-session li a {
    color: #fff;
}

.header__nav-ul-session .cart {
    background-color: transparent;
}

.header__nav-ul-session .cart img {
    width: 3rem;
}

.header__nav-ul-session .logout {
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
}

.header__nav-ul-session .logout a {
    color: #fff;
}