:root {
    --borderRadius: .20rem;
}

.product-container-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.product {
    width: 25%;
    max-width: 15rem;
    min-width: 11rem;
    aspect-ratio: 1 / 1;
    box-shadow: #ccc 0 0 10px;
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.product img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
    object-fit: contain;
    object-position: center;
}

.product-text {
    padding: 1rem;
}

.product button {
    width: 100%;
    border: none;
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    padding: .75rem;
    background-color: #f90;
    color: #222;
    font-weight: 600;
    text-transform: uppercase;
}

@media (max-width: 400px) {
    .product {
        width: 15rem;
    }
}